/*Styles*/

body{
    background-color:khaki;
}

.title{
    margin: 0;
    background-color: rgb(223, 158, 111);
    color:cornsilk;
    font-size: 50px;
    text-align: center;
    padding: 16px;
    height: auto;
}

a{
    color:darkgoldenrod;
    font-size: 30px;
}

.MAIN{
    color:darkolivegreen;
    font-size: 30px;
}

img{
    display: block;
    margin: auto;
   }

h1{
    color:darkgoldenrod;
    font-size: 30px;
    text-align: center;
}
.recipe-image{
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}
h2{
    color:darkslategray;
}

  .container {
     padding: 20px;
  }
  
  .box {
    border-style:outset;
    margin-top: 0;
    width: auto;
    background: rgba(220, 220, 220, 0.158);
    margin: 18px auto;
    text-align: left;
    padding: auto;
  }

  button {
    border-style:solid;
    background-color: rgb(240, 165, 111);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color: white;
    display: block;
    margin: auto auto;
    padding: 8px 24px;
  }